CMakeCache.txt
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
gmon.out
spacerank
.buildpls.json
SpaceRank.sublime-project
SpaceRank.sublime-workspace

# Linux
bin/*

# Windows
Debug/*
Release/*
*.sdf
*.sln
*.suo
*.filters
spacerank.opensdf
