CMakeCache.txt
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
gmon.out
spacerank
.buildpls.json

# Linux
bin/*

# Windows
Debug/*
Release/*
*.sdf
*.sln
*.suo
*.filters
spacerank.opensdf
